@import '../App.scss';

.home {
    .hero {
        max-width: 1440px;
        margin: 0 auto;
        position: relative; // For at positionere child elements i forhold til hero
        margin-bottom: 13rem; // Tilføj margin for at give plads til næste sektion

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            height: 80vh;
        }



    }

    .newsSection {
        padding: 2rem;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;

        max-width: 1440px;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;

        .newsBox {
            display: flex;
            flex-direction: column; // Styrer elementerne i en kolonne
            justify-content: space-between; // Sørger for at readMore ligger i bunden

            background-color: #ffffff;
            border-radius: 8px;
            width: 48%;
            padding: 2rem;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            h3 {
                @include heading3;
                margin-top: 0;

                .firstWord {
                    color: #000000;
                    display: block;
                }

                .restOfTitle {
                    color: $forrest-green;
                    display: block;
                    margin-bottom: 0.5rem
                }
            }

            p {
                @include body-text;
                color: $dark-grey;
                margin-bottom: 1rem;
            }

            .readMore {
                display: flex;
                align-items: center;
                font-weight: bold;
                margin-top: auto; // Sørger for, at knappen er placeret i bunden af containeren


                img {
                    object-fit: cover;
                    width: 80px;
                    height: auto;
                }
            }
        }



        @media (max-width: 1300px) {
            flex-direction: column;
            height: 100%;
            top: 20%; // Juster position for tablet
            padding: 3rem; // Mindre padding på mobil
            gap: 1rem;
            width: 90%;

            .newsBox {
                text-align: center;
                width: 100%; // Fuldbredde på mobil
                height: 100%;
                padding: 3rem;

            }
        }
        
        @media (max-width: 700px) {
            flex-direction: column;
            height: 100%;
            top: 15%; // Juster position for tablet
            padding: 1rem; // Mindre padding på mobil
            gap: 1rem;
            width: 98%;}
    }

    .articleSection {
        margin-top: 4rem;
        margin-bottom: 2rem;
        background-color: $light-green;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        display: flex;
        justify-content: center; // Center horisontalt
        align-items: center; // Center vertikalt

        .articleBox {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            width: 1440px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                margin: 0;
            }

            .articleText {
                padding: 4rem;


                h2 {
                    margin: 0;
                    @include heading1;
                    margin-bottom: 2rem;

                    .deepGreen {
                        color: $deep-green;
                        display: block;
                    }

                    .forestGreen {
                        color: $forrest-green;
                        display: block;
                    }
                }

                p {
                    @include body-text;
                    color: $dark-grey;
                    margin-bottom: 2rem;
                }

                .readMoreArticle {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    margin-top: 10px;

                    img {
                        object-fit: cover;
                        width: 10%;
                        height: 10%;
                    }
                }
            }

            .articleImage img {
                width: 100%;
                height: 100%;
            }
        }

        @media (max-width: 768px) {

            .articleBox {

                grid-template-columns: 1fr;
            }
        }
    }

    .tipsSection {
        margin-top: 4rem;
    
        .tipsBox {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            margin: 2rem;
            overflow: hidden; // Sørger for at skjule eventuelle overskydende indhold
    
            img {
                width: 100%;
                height: 100%; // Sætter den maksimale højde på billedet til 700px
                object-fit: cover; // Sørger for, at billedet fylder hele containeren
                object-position: top; // Justerer billedet, så det er centreret
                position: relative;
            }
    
            .tips {
                padding: 6rem;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
    
            h1 {
                color: $forrest-green;
                font-size: 28px;
            }
    
            h2 {
                margin: 0;
                @include heading3;
                font-size: 36px;
    
                .firstWord {
                    color: #000000;
                    display: block;
                }
    
                .restOfTitle {
                    color: $forrest-green;
                    display: block;
                    margin-bottom: 0.5rem;
                }
            }
    
            p {
                flex: 1;
                @include body-text;
                color: $dark-grey;
            }
    
            .readMore {
                display: flex;
                align-items: center;
                font-weight: bold;
                margin-top: 10px;
    
                img {
                    object-fit: cover;
                    width: 10%;
                    height: 10%;
                }
            }
        }
    
        @media (max-width: 1400px) {
            .tipsBox {
                grid-template-columns: 1fr;
                gap: 2rem;
                position: relative;
                z-index: 200;
                margin-top: 2rem;
            .tipsOgTricksImg{
                height: 500px;
                object-position: bottom; // Justerer billedet, så det er centreret

            }
            .tips{
                padding: 1rem;
                gap: 2rem;
                text-align: center;
                .readMore{
                    justify-content: end;
                }
            }
            }
        }
    
        @media (max-width: 768px) {
            // Tilføj dine ændringer her for skærme mindre end 768px
        }
    }
    
    
    
}