@import '../App.scss';
.container {
    padding: 2rem;
    background: linear-gradient(to bottom, $light-green, #ffffff);

}

.mapContainer {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}

.mapImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    padding: 15px;
}

.stationName {
    font-size: 2rem;
    margin-bottom: 10px;
}

.stationAddress, .stationStars {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.reviewsSection {
    margin-top: 30px;
}

.review {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review h4 {
    margin: 0 0 5px;
}

.review p {
    margin: 5px 0;
}

.reviewForm {
    margin-top: 30px;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formGroup input, .formGroup textarea, .formGroup select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formGroup textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
}
