@import '../App.scss';

.container {
    padding: 2rem;
    background: linear-gradient(to bottom, $light-green, #ffffff);
}

.title {
    font-size: 36px;
    color: $deep-green;
    margin-top: 2rem;
}

.subtitle {
    font-size: 28px;
    color: $forrest-green;
    margin-bottom: 3rem;
}

.categoryList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.categoryBox {
    position: relative; /* Sørg for at dropdownMenu er positioneret relativt til categoryBox */
    display: flex;
    flex-direction: column; /* Sørg for, at indholdet i boxen er stablet vertikalt */
    border: 1px solid $moss-green; /* Border farve */
    border-radius: 8px; /* Border-radius */
    width: 100%; /* Full bredde */
    background-color: #f9f9f9;
    cursor: pointer;
    transition: height 0.3s ease, box-shadow 0.3s ease; /* Glidende ændring af højde og skygge */
    margin-bottom: 1rem; /* Margin til mellemrum mellem bokse */
}

.categoryBox.expanded {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skift skygge når udvidet */
}

.categoryBox:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skygge når musen er over boksen */
}

.topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; /* Padding for øverste sektion */
}

.iconContainer {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 100px;
    height: 100px;
}

.titleContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.categoryTitle {
    font-size: 1.2rem;
}

.imageContainer {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px; /* Lad bredden være automatisk */
    height: 160px;
}

.categoryImage {
    object-fit: cover;
    width: 100%; /* Lad bredden være automatisk */
    height: 100%; /* Fylder hele højden af containeren */
}

.dropdownToggle {
    position: absolute;
    z-index: 1000;
    bottom: -1rem; /* Juster til at være indenfor boxen og i bunden */
    left: 50%; /* Center dropdown-ikonet horisontalt */
    transform: translateX(-50%); /* Juster til at være perfekt centreret */
    z-index: 1000;
    cursor: pointer;
    width: 30px; /* Juster størrelsen efter behov */
    height: 30px; /* Juster størrelsen efter behov */
}

.dropdownMenu {
    display: flex;
    flex-direction: row;

    width: 100%;

    background-color: white;
    position: relative; /* Relative til categoryBox når udvidet */
}

.dropdownSection {
    padding: 1rem;
    flex: 1;
    padding: 2rem;
    padding-bottom: 3rem;
    border-right: 1px solid #ddd;
    overflow-y: auto; /* For at sikre, at lange lister kan scrolles */
}

.dropdownSection:last-child {
    border-right: none;
}

.dropdownSection h4 {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
}

.dropdownSection:first-of-type h4 {
    color: $forrest-green;
}

.dropdownSection:last-of-type h4 {
    color: $textil;
}

.dropdownSection ul {
    list-style-type: none;

}

.dropdownSection li {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) { // Mobil breakpoint
    .imageContainer {
        width: 100px; /* Lad bredden være automatisk */
        height: 100%;
    }
    .iconContainer {
        padding: 0 1rem;
    }
}
@media (max-width: 475px) { // Mobil breakpoint
    .dropdownMenu {
        display: grid;
        grid-template-columns: 1fr;
  
    }
}