@import '../App.scss';

.container {
    padding: 4rem;
    background: linear-gradient(to bottom, $light-green, #ffffff);
}



/* Styling for the map */
.mapContainer {
    width: 100%;
    margin-bottom: 20px;
}

.map {
    width: 100%;
    height: 450px;
    border: none;
}

/* Styling for station details */
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stationName {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.stationAddress,
.stationEmail,
.stationPhone {
    font-size: 1rem;
    margin: 0;
}

.starsContainer {
    text-align: right;
}

.stationStars {
    font-size: 1.5rem;
}

/* Reviews section styling */
.reviewsSection {
    margin-top: 20px;
}

.commentsHeader {
    color: green;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Review list styling */
.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.reviewContent {
    margin: 0;
}

.reviewDetails {
    font-size: 0.9rem;
    color: #555;
}

.reviewStars {
    font-size: 1rem;
}

/* Add review form styling */
.addReview {
    margin-top: 20px;
}

.addReviewHeader {
    color: green;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.reviewForm {
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.starsSelection {
    margin-bottom: 10px;
}

.select {
    font-size: 1rem;
    padding: 5px;
}

.submitButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.submitButton:hover {
    background-color: darkgreen;
}

.editDeleteButton {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
}

.editDeleteButton:hover {
    background-color: #ddd;
}
