@import '../App.scss';

.header {
    width: 100%;
    max-width: 1440px;
    height: 134px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .logo {
        width: 362.03px;
        height: 88px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .loginButton {
        background-color: $light-green;
        border: none;
        border-radius: 4px;
        color: #000;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        transition: background-color 0.3s ease;
        text-decoration: none;

        &:hover {
            background-color: $pap;
        }

        .LoginIcon {
            width: 20px;
            height: 20px;
            margin-left: 10rem;
        }

    }

    .userLog{
     display: flex;
     flex-direction: row;
     justify-items: center;       
    }
    .username{
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
    .logoutButton {
        background-color: $light-green;
        border: none;
        border-radius: 4px;
        color: #000;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        transition: background-color 0.3s ease;
        text-decoration: none;

        &:hover {
            background-color: $pap;
        }

        .LogoutIcon {
            width: 20px;
            height: 20px;
            margin-left: 10rem;
        }
    }

    @media (max-width: 1024px) { // Tablet breakpoint
        padding: 10px;

        .logo {
            width: 250px;
            height: 60px;
        }

        .loginButton {
            padding: 6px 12px;
            font-size: 14px;

            .LoginIcon {
                width: 18px;
                height: 18px;
                margin-left: 5rem;
            }
        }
    }

    @media (max-width: 768px) { // Mobil breakpoint
        flex-direction: column;
        align-items: flex-start;
        
        .logo {
            margin-bottom: 10px;
        }

        .loginButton {
            align-self: flex-end;
        }
    }
}
