@import '../App.scss';

// src/components/Navigation.module.scss

.nul {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.border {
    border-bottom: 1px solid $moss-green;
    width: 100vw;
    position: relative;
}

.navigation {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
    opacity: 1;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li {
            margin: 0;
            border-left: 1px solid $moss-green;
            width: 100%;
            text-align: center;

            &:last-child {
                border-right: 1px solid $moss-green;
            }

            a {
                display: block;
                padding: 15px 20px;
                text-decoration: none;
                color: $dark-grey;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: $kaki;
                }
            }

            &.active a {
                background-color: $moss-green;
                color: white;
            }
        }
    }

    @media (max-width: 1024px) { // Tablet breakpoint
        ul {
            display: none; // Skjul navigationen på mobil-størrelser
            justify-content:flex-start;
            padding-top: 8rem;
            position: absolute; // Position the menu absolutely
            top: 0; // Adjust based on burger menu position
            left: 60%;
            right: 0;
            bottom: 0;
            background: white; // Background for dropdown
            flex-direction: column;
            z-index: 1000; // Ensure the menu appears above other elements
            border: 1px solid $moss-green; // Optional: Add border to dropdown

            li {
                width: 100%;
                border-left: none;
                border-right: none;

                a {
                    text-align: left;
                    padding: 10px 15px;
                }
            }
        }

        &.active ul {
            display: flex; // Vis menuen når burger-menuen er aktiv
        }
    }


}

.burgerMenu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 25px;
    position: absolute; // Absolut positionering
    top: 15px;          // 15px fra toppen
    right: 15px;        // 15px fra højre side
    z-index: 2000;      // Ensure burger menu is above other content

    @media (max-width: 1024px) { // Tablet breakpoint
        display: block; // Vis burger-menu ved tablet-størrelser og mindre
    }



    .burgerBar {
        width: 100%;
        height: 3px;
        background-color: $dark-grey;
        position: absolute;
        left: 0;
        transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
    }

    .burgerBar:nth-child(1) {
        top: 0;
    }

    .burgerBar:nth-child(2) {
        top: 10px;
    }

    .burgerBar:nth-child(3) {
        top: 20px;
    }

    &.open .burgerBar:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
    }

    &.open .burgerBar:nth-child(2) {
        opacity: 0; // Gør midterste linje usynlig
    }

    &.open .burgerBar:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
    }
}
